body { margin: 0; padding: 10px; font: 14px Arial,Helvetica,"Nimbus Sans L",sans-serif; color: #000; }
a { color: #808080; text-decoration:none; }
span.h1 { font-size: 36px; }
#user-bar-greeting { float:left; margin-right: 10px; }

.done { color: #34C924; }
.promised { color: #008CF0; }

#gift_list ul, ul.add_wish_form_ul { padding-left: 0; margin-left: 0; }
#gift_list li, ul.add_wish_form_ul li, .search_result ul li, .recent_wishes_list li { list-style-type: none; padding: 5px 5px; }
#gift_list li.active { background-color: #F0F0F0; -moz-border-radius: 10px; -webkit-border-radius: 10px;}

ul.add_wish_form_ul { border: 1px dotted #B0B0B0; padding:10px; }
ul.add_wish_form_ul li { margin-left:25px; }

.cancel, .apply { width: 20px; font-size: 32px; }

.user_search_form { position: absolute; right: 0; top: 0; background-color: #C3DAEC; padding: 10px; -moz-border-radius-bottomleft:10px; -webkit-border-bottom-left-radius: 10px; }
.search_result { margin-left: -360px; padding-left: 100%; margin-top: 30px; position: absolute; }
.search_result ul { width: 300px; border: 1px dotted #E0E0E0; background-color: #F5F5F5; }

.recent_wishes { width: 500px; margin-top: 30px }
.recent_wishes_list { padding-left: 15px; }
.recent_wishes_list li { padding-right: 5px; padding-left: 5px; }
.recent_wishes_list li.odd { background-color: #F0F0F0; -moz-border-radius-bottomright: 10px; -moz-border-radius-topright: 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-top-right-radius: 10px; }
.recent_wishes_list .i_want_it_too { float: right; font-size: 14px; padding: 0; }
.recent_wishes_list .i_want_it_too a { color: #008CF0; }

.my-wish-list { float: left; font-size: 96px; width: 100%; text-align: right; margin-top: -200px; }

.login_div { width: 300px; height: 200px; position: absolute; right: 0; bottom: 0; padding: 10px; border: 10px solid #C3DAEC; border-width: 10px 0 0 10px; -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px;}
.login_div.hidden {  }
.login_div input { font-size: 32px; }
.progressbar { width:50px; height:2px; display:block; }
.ui-widget-header { background:url("/images/progress.png") repeat-x scroll 0 50% #FFFFFF; }
.ui-progressbar-value { height:100%; margin:-1px; }
a.wish-link { color:#000; text-decoration: none;}
a.wish-link img {border: 0 none;}