<li class="wish">
  <% if @is_friend %>
    <a class="i-promise" href="javascript:void(0);" title="I will gift it">☺</a>
  <% end %>
  <span class="wish-label <%= get_state_class(gift_list_item) %>">
    <%= gift_list_item.name %>
    <sub>
      (<%= distance_of_time_in_words_to_now(gift_list_item.created_at) %> ago)
    </sub>
  </span>
</li>
