<ul id="gift_list">
  <% if @gifts.empty? %>
    <li class="empty"><%= @user.login %> haven't added any wishes in his list</li>
  <% else %>
    <% @gifts.each do |gift| %>
      <li class="wish"><%= gift.name %></li>
    <% end %>
  <% end %>
</ul>
