<ul id="gift_list">
  <% if @gifts.empty? %>
    <li class="empty"><%= @user.login %> haven't added any wishes in his list</li>
  <% else %>
    <% @gifts.each do |gift| %>
      <%= render :partial => 'my_gift_list_item', :object => gift %>
    <% end %>
  <% end %>
</ul>
