<% if @is_me %>
  <span class="h1">My wishlist</span>
  <%= render :partial => "my_gift_list" %>
  <%= render :partial => "add_wish" %>
<% else %>
  <span class="h1"><%= @user.login %>'s wishlist</span>
  <%= render :partial => "gift_list" %>
<% end %>